       
   @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

   *{
       font-family: 'Barlow', sans-serif;
      
   }

 

   @media screen and (max-width: 768px) {
    #contactpage{
        display: flex;
        flex-direction: column;
         gap: 40px;
    }

    #details{
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

}